/* Wrapper: mainWrapper */
.accountingtechnology #mainWrapper {background:url("/_resources/images/watermarks/microsites/accountingTech.gif") center 215px no-repeat #fff;}
.admission #mainWrapper {background:url("/_resources/images/watermarks/microsites/apply_admission.gif") center 215px no-repeat #fff;}
.apply #mainWrapper {background:url("/_resources/images/watermarks/apply_vertical.gif") center 215px no-repeat #fff;}
.arboretum #mainWrapper {background:url("/_resources/images/watermarks/microsites/facilities_arboretum.gif") center 215px no-repeat #fff;}
.architect #mainWrapper {background:url("/_resources/images/watermarks/microsites/architect.gif") center 215px no-repeat #fff;}
.assessment #mainWrapper {background:url("/_resources/images/watermarks/microsites/assessment.gif") center 215px no-repeat #fff;}

.bias #mainWrapper {background:url("/_resources/images/watermarks/microsites/bias-incident.gif") center 215px no-repeat #fff;}
.boettcher #mainWrapper {background:url("/_resources/images/watermarks/microsites/boettcher.gif") center 215px no-repeat #fff;}
.braininjury #mainWrapper {background:url("/_resources/images/watermarks/microsites/braininjury.gif") center 215px no-repeat #fff;}
.bridgestofuture #mainWrapper {background:url("/_resources/images/watermarks/microsites/bridges.gif") center 215px no-repeat #fff;}
.bursar #mainWrapper {background:url("/_resources/images/watermarks/microsites/bursar.gif") center 215px no-repeat #fff;}
.businessservices #mainWrapper {background:url("/_resources/images/watermarks/microsites/businessservices.gif") center 215px no-repeat #fff;}

.campussafety #mainWrapper {background:url("/_resources/images/watermarks/microsites/campussafety.gif") center 215px no-repeat #fff;}
.ccesl #mainWrapper {background:url("/_resources/images/watermarks/microsites/ccesl.gif") center 215px no-repeat #fff;}
.cenex #mainWrapper {background:url("/_resources/images/watermarks/microsites/cenex.gif") center 215px no-repeat #fff;}
.cme #mainWrapper {background:url("/_resources/images/watermarks/microsites/cme.gif") center 215px no-repeat #fff;}
.centerforworldlang #mainWrapper {background:url("/_resources/images/watermarks/microsites/centerForWorldLanguages.gif") center 215px no-repeat #fff;}
.chancellor #mainWrapper {background:url("/_resources/images/watermarks/microsites/chancellor.gif") center 215px no-repeat #fff;}
.chancellor-search #mainWrapper {background:url("/_resources/images/watermarks/du_main.gif") center 215px no-repeat #fff;}
.cihrla #mainWrapper {background:url("/_resources/images/watermarks/microsites/cihrla.gif") center 215px no-repeat #fff;}
.commencement #mainWrapper {background:url("/_resources/images/watermarks/microsites/commencement.gif") center 215px no-repeat #fff;}
.commoncurriculum #mainWrapper {background:url("/_resources/images/watermarks/microsites/commoncurriculum.gif") center 215px no-repeat #fff;}
.communityvisitors #mainWrapper {background:url("/_resources/images/watermarks/microsites/communityvisitors.gif") center 215px no-repeat #fff;}
.compliance #mainWrapper {background:url("/_resources/images/watermarks/microsites/compliance.gif") center 215px no-repeat #fff;}
.conflictresolution #mainWrapper {background:url("/_resources/images/watermarks/microsites/conflictresolution.gif") center 215px no-repeat #fff;}
.controller #mainWrapper {background:url("/_resources/images/watermarks/microsites/controller.gif") center 215px no-repeat #fff;}
.copycenter #mainWrapper {background:url("/_resources/images/watermarks/microsites/copy.gif") center 215px no-repeat #fff;}
.csew #mainWrapper {background:url("/_resources/images/watermarks/microsites/csew.gif") center 215px no-repeat #fff;}
.counsel #mainWrapper {background:url("/_resources/images/watermarks/microsites/counsel.gif") center 215px no-repeat #fff;}
.cwlc #mainWrapper {background:url("/_resources/images/watermarks/microsites/cwlc.gif") center 215px no-repeat #fff;}


.debate2012 #mainWrapper {background:url("/_resources/images/watermarks/microsites/debate2012.gif") center 215px no-repeat #fff;}
.denverquarterly #mainWrapper {background:url("/_resources/images/watermarks/microsites/denverquarterly.gif") center 215px no-repeat #fff;}
.duwomen #mainWrapper {background:url("/_resources/images/watermarks/microsites/duwomen.gif") center 215px no-repeat #fff;}

.emergencypreparadness #mainWrapper {background:url("/_resources/images/watermarks/microsites/emergencypreparadness.gif") center 215px no-repeat #fff;}
.epr #mainWrapper {background:url("/_resources/images/watermarks/microsites/epr.gif") center 215px no-repeat #fff;}
.equalopportunity #mainWrapper {background:url("/_resources/images/watermarks/microsites/equalopportunity.gif") center 225px no-repeat #fff;}

.facilities #mainWrapper {background:url("/_resources/images/watermarks/microsites/facilities.gif") center 215px no-repeat #fff;}
.finaid #mainWrapper {background:url("/_resources/images/watermarks/microsites/apply_financialaid.gif") center 215px no-repeat #fff;}

.globalbrigade #mainWrapper {background:url("/_resources/images/watermarks/microsites/globalbrigade.gif") center 215px no-repeat #fff;}
.globalhealth #mainWrapper {background:url("/_resources/images/watermarks/microsites/globalhealthaffairs.gif") center 215px no-repeat #fff;}
.green #mainWrapper {background:url("/_resources/images/watermarks/microsites/green.gif") center 215px no-repeat #fff;}
/*.gsff #mainWrapper {background:url("/_resources/images/watermarks/microsites/gsff.gif") center 215px no-repeat #fff;}*/
.gsg #mainWrapper {background:url("/_resources/images/watermarks/microsites/gsg.gif") center 215px no-repeat #fff;}

.honors #mainWrapper {background:url("/_resources/images/watermarks/microsites/honors.gif") center 215px no-repeat #fff;}
.housing #mainWrapper {background:url("/_resources/images/watermarks/microsites/housing.gif") center 215px no-repeat #fff;}
.humananimalconnection #mainWrapper {background:url("/_resources/images/watermarks/microsites/humananimalconnection.gif") center 215px no-repeat #fff;}

.idge #mainWrapper {background:url("/_resources/images/watermarks/microsites/idge.gif") center 215px no-repeat #fff;}
.intermodal #mainWrapper {background:url("/_resources/images/watermarks/microsites/intermodal.gif") center 215px no-repeat #fff;}
.internalaudit #mainWrapper {background:url("/_resources/images/watermarks/microsites/internalaudit.gif") center 215px no-repeat #fff;}
.internationalization #mainWrapper {background:url("/_resources/images/watermarks/microsites/internationalization.gif") center 215px no-repeat #fff;}
.ira #mainWrapper {background:url("/_resources/images/watermarks/microsites/ira.gif") center 215px no-repeat #fff;}
.isss #mainWrapper {background:url("/_resources/images/watermarks/microsites/isss.gif") center 215px no-repeat #fff;}
.issues #mainWrapper {background:url("/_resources/images/watermarks/microsites/strategic-issues.gif") center 215px no-repeat #fff;}

.kennedyinstitute #mainWrapper {background:url("/_resources/images/watermarks/microsites/kennedyinstitute.gif") center 215px no-repeat #fff;}
.korbel_africaninit #mainWrapper {background:url("/_resources/images/watermarks/microsites/korbel_africaninit.gif") center 215px no-repeat #fff;}
.korbel_politicaltheory #mainWrapper {background:url("/_resources/images/watermarks/microsites/korbel_politicaltheory.gif") center 215px no-repeat #fff;}

.lep #mainWrapper {background:url("/_resources/images/watermarks/microsites/lep.gif") center 215px no-repeat #fff;}
.livinglearning #mainWrapper {background:url("/_resources/images/watermarks/microsites/livinglearning.gif") center 215px no-repeat #fff;}

.marcomm #mainWrapper {background:url("/_resources/images/watermarks/microsites/marcomm.gif") center 215px no-repeat #fff;}
.marsico #mainWrapper {background:url("/_resources/images/watermarks/microsites/marsico.gif") center 215px no-repeat #fff;}

.oacac #mainWrapper {background:url("/_resources/images/watermarks/microsites/oacac.gif") center 215px no-repeat #fff;}
.ombuds #mainWrapper {background:url("/_resources/images/watermarks/microsites/ombuds.gif") center 215px no-repeat #fff;}

.provost #mainWrapper {background:url("/_resources/images/watermarks/microsites/provost.gif") center 215px no-repeat #fff;}
.psychology_tssgroup #mainWrapper {background:url("/_resources/images/watermarks/microsites/psychology_tssgroup.gif") center 215px no-repeat #fff;}
.psychology_aact #mainWrapper {background:url("/_resources/images/watermarks/microsites/psychology_aact.gif") center 215px no-repeat #fff;}
.psychology_chadlab #mainWrapper {background:url("/_resources/images/watermarks/microsites/psychology_chadlab.gif") center 215px no-repeat #fff;}
.psychology_dnrl #mainWrapper {background:url("/_resources/images/watermarks/microsites/psychology_dnrl.gif") center 215px no-repeat #fff;}
.publishinginstitute #mainWrapper {background:url("/_resources/images/watermarks/microsites/publishing-institute.gif") center 215px no-repeat #fff;}

.rcsdf #mainWrapper {background:url("/_resources/images/watermarks/microsites/rcsdf.gif") center 215px no-repeat #fff;}
.recordsmanagement #mainWrapper {background:url("/_resources/images/watermarks/microsites/records-management.gif") center 215px no-repeat #fff;}
.recycling #mainWrapper {background:url("/_resources/images/watermarks/microsites/recycling.gif") center 215px no-repeat #fff;}
.risk #mainWrapper {background:url("/_resources/images/watermarks/microsites/risk.gif") center 215px no-repeat #fff;}

.sdip #mainWrapper {background:url("/_resources/images/watermarks/microsites/sdip.gif") center 215px no-repeat #fff;}
.seniors #mainWrapper {background:url("/_resources/images/watermarks/microsites/seniors.gif") center 215px no-repeat #fff;}
.soca #mainWrapper {background:url("/_resources/images/watermarks/microsites/soca.gif") center 215px no-repeat #fff;}
.staffadvisory #mainWrapper {background:url("/_resources/images/watermarks/microsites/sac.gif") center 215px no-repeat #fff;}
.studentEmployment #mainWrapper {background:url("/_resources/images/watermarks/microsites/studentEmployment.gif") center 215px no-repeat #fff;}
.studentlife_lep #mainWrapper {background:url("/_resources/images/watermarks/microsites/studentlife_lep.gif") center 215px no-repeat #fff;}
.studentsupport #mainWrapper {background:url("/_resources/images/watermarks/microsites/studentoutreach.gif") center 215px no-repeat #fff;}
.summerquarter #mainWrapper {background:url("/_resources/images/watermarks/microsites/summer.gif") center 215px no-repeat #fff;}
.sustainability #mainWrapper {background:url("/_resources/images/watermarks/microsites/sustainability.gif") center 215px no-repeat #fff;}

.urc #mainWrapper {background:url("/_resources/images/watermarks/microsites/urc.gif") center 215px no-repeat #fff;}
.usg #mainWrapper {background:url("/_resources/images/watermarks/microsites/usg.gif") center 215px no-repeat #fff;}

.wellness #mainWrapper {background:url("/_resources/images/watermarks/microsites/wellness.gif") center 215px no-repeat #fff;}
.writing #mainWrapper {background:url("/_resources/images/watermarks/microsites/writing.gif") center 215px no-repeat #fff;}
