body {
	background-image: url("/_resources/ou/editor/backgrounds/_localinc-academicunit.jpg");
	background-repeat: no-repeat;
	width:990px;
	margin:105px 0px 0px 35px;
	font-size: 0.875em;
  color: #ffffff;
}
a:link:-moz-read-write {
  color: #ffffff !important;
  text-decoration: underline -moz-anchor-decoration;
}

ol {

margin:0;
padding: 5px;
 color: #ffffff;

}

ol li {
display:inline-block;
min-height:30px;
padding-right: 0px;
 color: #ffffff;

}
 li a, a:link, a:active, a:visited, a:hover {
 
 cursor: pointer;
    display: block;
    height: 28px;
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
    text-align: center;
    width: 136px;
    color: #ffffff;
  text-decoration:none;
  }


