body {
	background-image: url("/_resources/ou/editor/backgrounds/gallery-academicunit.jpg");
	background-repeat: no-repeat;
	width:1054px;
	margin: 157px 0px 0px 0px;
	font-family: Arial,"Helvetica Neue",Helvetica,Geneva,sans-serif;
	font-size: 0.75em !important;
	color: #666666;
	text-align: left !important;
	line-height: 1.5em;
}
td, th {
	font-size:0.75em;
}
